
	
	<table summary="subject form fields">
 	    
 
	 	<tr>
	 		<th><%= f.label(:sub_name) %></th>
	 		<td><%= f.text_field(:sub_name) %></td>
	 	</tr>
	 	<tr>
			<th><%= f.label(:year) %></th>
			<td><%= f.select(:year, @year_list) %></td>
		</tr>
		
</table>
      										          

 
  
 
    