
 <table summary="teacher form fields">
		
 	    <tr>
			<th>Name</th>
			<td><%= f.text_field(:tname) %></td>
		</tr>
		<tr>
			<th>Moblie</th>
			<td><%= f.text_field(:mob) %></td>
		</tr>
		<tr>
			<th>email</th>
			<td><%= f.text_field(:email) %></td>
		</tr>
				
</table>