 <% @page_title = "Subject-Teacher new" %>

<div class ="subject-teacher new">
	<h2>Create Subject-Teacher</h2>
	
	<%= form_for(:subject_teacher, :url =>{:action => 'subtech2'}) do |f| %>
	
      										          
	    <div class="form-buttons">
		<%= submit_tag("Create SubTeach") %> 
</div>
<% end %>
</div>
  
  
