<% @page_title = "Teacher new" %>

<%= link_to("<< Back to List", {:action => 'list'}, :class =>'back-link') %>

<div class ="teacher new">
	<h2>Create Teacher</h2>
	
	<%= form_for(:teacher, :url =>{:action => 'create'}) do |f| %>
	
	 <%= render(:partial => "PTemplates/teacher_pt", :locals => {:f => f})%>  
      										          
	    <div class="form-buttons">
		<%= submit_tag("Create Teacher") %> 
</div>

<% end %>
</div>